
<script src="~/KJScripts/Helper.js"></script>
<script src="~/Scripts/ConsignmentModel.js"></script>
<script src="~/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js" type="text/javascript"></script>
@using System.Web.Script.Serialization
@model PrimeActs.Domain.ViewModels.Consignment.ConsignmentDetailsViewModel
@{ var Itemdata = new JavaScriptSerializer().Serialize(Model); }
<div class="container-fluid">
    @*<div class="col-md-8 confirmationdetails" id="ConsignmentSummary">*@
    @*<div class="col-md-8 confirmationdetails" id="@ViewBag.ConsignmentPanel">*@
        <div class=" confirmationdetails" id="@ViewBag.ConsignmentPanel">
        <div class="panel panel-default confirmationdetails">
            <div class="panel-heading clearfix confirmationdetails">
                Consignment Details
                <p class="panel-title" data-bind="text: Consignment.ConsignmentReference()"></p>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p class="confirmationdetails">Reference</p>
                    </div>
                    <div class="col-md-4">
                        <p class="confirmationdetails" data-bind="text: Consignment.ConsignmentReference()" readonly="true"></p>
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Description</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.ConsignmentDescription" readonly="true"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p class="confirmationdetails">Supplier Reference:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.SupplierReference" readonly="true" disabled="true" />
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Supplier Dept</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.SupplierCompanyName() +' - ' +  Consignment.SupplierDepartmentName()" readonly="true" disabled="true" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p class="confirmationdetails">Contract Date</p>
                    </div>
                    <div class="col-md-4">
                        <span typeof="Date" data-bind="text: Consignment.ContractDate() " readonly=" true" />
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails"> Port:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.PortName" readonly="true" disabled="true" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p class="confirmationdetails">Despatch Name:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.DespatchName" readonly="true" disabled="true" />
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Handling:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.Handling" readonly="true" disabled="true" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p class="confirmationdetails">Despatch Date:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.DespatchDate" readonly="true" disabled="true" />
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Commision:</p>
                    </div>
                    <div class="col-md-2">
                        <span data-bind="text: Consignment.Commission" readonly="true" disabled="true" />
                    </div>
                </div>
                <div class="col-md-12" hidden="hidden">
                    <div class="col-md-2">
                        <p class="confirmationdetails">Vehicle:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.Vehicle" readonly="true" disabled="true" />
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Vehicle Details:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.VehicleDetail" readonly="true" disabled="true" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div hidden="hidden" class="col-md-2">
                        <p class="confirmationdetails">Contract Date:</p>
                    </div>
                    <div hidden="hidden" class="col-md-4">
                        <span data-bind="text: Consignment.ContractDate" readonly="true" disabled="true" />
                    </div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Received Date:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.ReceivedDate" readonly="true" disabled="true" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Notes:</p>
                    </div>
                    <div class="col-md-4">
                        <span data-bind="text: Consignment.NoteText  "></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <p class="confirmationdetails">Files:</p>
                    </div>
                    <ul class=" col-md-4" data-bind="foreach: { data: FileEditModels, as: 'row' }">
                        <li>
                            <div>
                                <span data-bind="text: FileName()"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="ConsignmentItem">
            <div class="panel-heading clearfix">
                <p>ITEMS</p>
                <a class="tab-content pull-right confirmationdetails" href="~/Consignment/Index">Back to Consignments</a>
            </div>
            <div class="panel-body">
                <table class="table table-striped ">
                    <thead>
                        <tr class="tableheader text-center">
                            <th>
                                <div> Produce </div>
                            </th>
                            <th>
                                <div> Department </div>
                            </th>
                            <th>
                                <div> Brand </div>
                            </th>
                            <th>
                                <div> Pack </div>
                                <div> Type </div>
                            </th>
                            <th>
                                <div> Pack</div>
                                <div> Weight</div>
                            </th>
                            <th>
                                <div> Pack </div>
                                <div> Pall </div>
                            </th>
                            <th>
                                <div> Exp</div>
                                <div> Qty</div>
                            </th>
                            <th>
                                <div> Rec</div>
                                <div> Qty</div>
                            </th>
                            <th>
                                Est. Purchase Cost
                            </th>
                            <th>
                                <div> Country </div>
                                <div> Of Origin </div>
                            </th>
                            <th>
                                Notes
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: { data: ConsignmentItemEditModels, as: 'row' }">
                        <tr>
                            <td data-title="Code">
                                <b class="confirmationdetails" data-bind="text: row.Produce"></b>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.DepartmentName"></p>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.PackType"></p>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.Brand"></p>
                            </td>
                            @*<td data-title="Code"><p data-bind="text: row.PackWeight"></p></td>*@
                            <td data-title="Code">
                                <p data-bind="text:row.WtUnit"></p>
                            </td>
                            @*<td data-title="Code"><p data-bind="text: row.PackWtUnit.WtUnit"></p></td>*@
                            <td data-title="Code">
                                <p data-bind="text: row.PackPall"></p>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.ExpectedQuantity"></p>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.ReceivedQuantity"></p>
                            <td data-title="Code">
                                <p data-bind="text: row.EstimatedPurchaseCostPerPack"></p>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.CountryName"></p>
                            </td>
                            <td data-title="Code">
                                <p data-bind="text: row.NoteText  "></p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="divider">
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-2 recap">
                            <button class="btn btn-default col-md-offset-10" data-bind="click: function() { openCreateConsignment(subscriberReplaceTab); }">
                                Create New Consignment
                            </button>
                        @*<table class="table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left"><strong>Subtotal</strong></td>
                                        <td class="right"><span data-bind="text: Subtotal" /></td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>VAT (10%)</strong></td>
                                        <td class="right"><span data-bind="text: VAT"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Total</strong></td>
                                        <td class="right">
                                            <span data-bind="text: Total"><strong></strong></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                        @*ghjkghk*@
                        @*<button class="btn btn-info" data-bind="event: { click: Save }"><i class="fa fa-print"></i> Save</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var consignmentPanelName = '@(ViewBag.ConsignmentPanel)';
    //var ConsignmentModel = new ConsignmentModel(@Html.Raw(Itemdata));
    var ConsignmentModel = new ConsignmentModel(@Html.Raw(Itemdata), consignmentPanelName);
    ko.validation.init({
        registerExtenders: true,
        messagesOnModified: false,
        insertMessages: true
    });
    ko.applyBindingsWithValidation(ConsignmentModel, document.getElementById("ConsignmentSummary"));

</script>