@using System.Web.Script.Serialization;
@model PrimeActs.Domain.ViewModels.CreateTicketViewModel

<script src="~/KJScripts/Helper.js"></script>
<script src="~/Scripts/bootstrap-notify.js"></script>
<link href="~/Content/css/bootstrap-glyphicons.css" rel="stylesheet" />
<script src="~/TypeScripts/Util/SelectOption.js"></script>
<script src="~/TypeScripts/Ticket/TicketViewModel.js"></script>
<script src="~/TypeScripts/Ticket/CreateTicketViewModel.js"></script>
@{string data = new JavaScriptSerializer().Serialize(Model);}
<div id="@ViewBag.TicketPanel">

    @Html.Partial("_TabUserContext")

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <p class="panel-title">New <span data-bind="text: HeaderTitle"></span></p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        Ref
                        <input type="text" class="form-control" data-bind="value: TicketModel().TicketReference, hasFocus: TicketModel().FocusTicketReference" @{ var ticketRef = "ticketRef" + ViewBag.TicketPanel.ToString(); } name="@ticketRef" autofocus />
                    </div>
                    <div class="col-md-3 col-md-offset-2 form-group">
                        Date
                        <input type="date" maxlength="50" class="form-control disabled" data-bind="FormattedDate: {date: TicketModel().TicketDate, format: 'short'}" disabled>
                    </div>
                </div>
                <div class="row" hidden>
                    <div class="col-md-9 form-group" data-bind="foreach: PaymentTypeList">

                        <label class="radio-inline">
                            <input type="radio" name="PaymentTypeOptions+@ViewBag.TicketPanel" data-bind="attr: { value: value } , checked: $parent.TicketModel().SelectedPaymentType" />
                            <span data-bind="text: text"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        Currency
                        <input type="text" tabindex="0" placeholder="Currency" class="form-control" data-bind="ko_autocomplete: { source : $root.getCurrency, select : $root.selectCurrency, change: onCurrencyChange }, value: TicketModel().CurrencyName, css:{ 'required-field': TicketModel().showGuidFieldRequired(TicketModel().CurrencyID), 'required-field-error': TicketModel().showError(TicketModel().CurrencyID) }" id="CurrencyID" />
                    </div>
                    <div class="col-md-3 col-md-offset-2 form-group">
                        Amount Received
                        <input type="text" class="form-control" data-bind="value: TicketModel().AmountReceived.formatted, css:{ 'required-field': TicketModel().showAmountReceivedRequired(TicketModel().AmountReceived), 'required-field-error': TicketModel().showError(TicketModel().AmountReceived) }, disable: TicketModel().SelectedPaymentType() == 'CR'" id="AmountReceived" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        Customer
                        <input type="text" name="CustomerDepartmentID" placeholder="Customer" class="form-control" id="CustomerDepartmentID" data-bind="ko_autocomplete: { source : getCustomer, select : selectCustomer, change: onCustomerChange }, value: TicketModel().CustomerCompanyName, css:{ 'required-field': TicketModel().showGuidFieldRequired(TicketModel().CustomerDepartmentID), 'required-field-error': TicketModel().showError(TicketModel().CustomerDepartmentID) }" />
                    </div>
                    <div class="col-md-3 col-md-offset-2 form-group">
                        PO Number
                        <input type="text" class="form-control" data-bind="value: TicketModel().PONumber, disable: TicketModel().SelectedPaymentType() == 'R'" placeholder="PO Number" id="PONumber" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Sales Person
                        <input type="text" placeholder="Sales Person" class="form-control" id="SalesPersonUserID" data-bind="ko_autocomplete: { source: getSalesPerson, select: selectSalesPerson, change: onSalesPersonChange }, value: TicketModel().SalesPersonName, css:{ 'required-field': TicketModel().showGuidFieldRequired(TicketModel().SalesPersonUserID), 'required-field-error': TicketModel().showError(TicketModel().SalesPersonUserID) }" />
                    </div>
                
                </div>
                <div class="col-md-9 form-group">
                    Notes
                    <textarea tabindex="-1" placeholder="Add Notes" data-bind=" value: TicketModel().Notes" rows='2' class="form-control"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-10 right">
                        <button class="btn btn-default" data-bind="visible: TicketModel().SelectedPaymentType() != 'R', click: function() { createTicket($data); }">Create Ticket</button>
                        <button class="btn btn-default" data-bind="visible: TicketModel().SelectedPaymentType() == 'R', click: function() { createReceipt($data, subscriberReplaceTab); }">Create Receipt</button>
                    </div>
                </div>
                <div class="row top5">
                    <div class="col-md-12">
                        <div class=" panel-default" data-bind="visible: TicketModel().SelectedPaymentType() != 'R' && TicketModel().TicketItems().length > 0">
                            <div class="panel-heading clearfix">
                                <p class="panel-title">Items</p>
                            </div>
                            <div class="panel-body" id="TicketItems">
                                <ul class="list-group">
                                    <li class="list-group-item-heading">
                                        <div class="row">

                                            <div class="col-md-1">
                                                <p>Dept.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Description</p>
                                            </div>
                                            <div class="col-md-1">
                                                <p>Quantity</p>
                                            </div>
                                            <div class="col-md-1">
                                                <p>U Cost</p>
                                            </div>
                                            <div class="col-md-1">
                                                <p>Porterage</p>
                                            </div>
                                            <div class="col-md-1">
                                                <p>Total</p>
                                            </div>
                                            <div class="col-md-1">
                                                <p>Net Ave.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- ko foreach: TicketModel().TicketItems -->
                                    <li class="list-group-ticketitem topborder" data-bind="setFocus: {}">
                                        <div id="ticketItemRow" class="row" data-bind="">

                                            <div class="col-md-1">
                                                <input type="text" placeholder="Department" class="form-control" data-bind="ko_autocomplete: { source: $root.getDepartment, select: $root.selectDepartment, change: $root.onDepartmentChange }, value: DepartmentCode, css:{ 'required-field': $root.TicketModel().showGuidFieldRequired(DepartmentID), 'required-field-error': showError(DepartmentID) }, hasFocus: FocusDepartment, event: { focusout: function() { $root.onDepartmentFocusOut($index()) } }" id="DepartmentID" />
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        @*<input type="checkbox" aria-label="...">*@
                                                        <input type="checkbox" data-bind="checked : IncludeZeroCheckBox">
                                                    </span>
                                                    @*<input type="text" placeholder="Produce" class="form-control" data-bind="ko_autocomplete: { source: $root.getProduce, select: $root.selectProduce, change: $root.onProduceChange }, value: ProduceDescription, css:{ 'required-field': $root.TicketModel().showGuidFieldRequired(ConsignmentItemID), 'required-field-error': showError(ConsignmentItemID) }, hasFocus: FocusProduce, event: { focusout: function() { $root.onConsignmentItemFocusOut($index()) } }, " id="ConsignmentItemID" />*@
                                                    <!-- ko if: IncludeZeroCheckBox -->
                                                    <input type="text" placeholder="Produce" class="form-control" data-bind="ko_autocompleteProduce: { source: $root.getProduceToggleZero, select: $root.selectProduce}, value: ProduceDescription, css:{ 'required-field': $root.TicketModel().showGuidFieldRequired(ConsignmentItemID), 'required-field-error': showError(ConsignmentItemID) }, hasFocus: FocusProduce, event: { focusout: function() { $root.onConsignmentItemFocusOut($index()) } }, " id="ConsignmentItemID" />



                                                    <!-- /ko -->
                                                    <!-- ko ifnot: IncludeZeroCheckBox -->

                                                    <input type="text" placeholder="Produce" class="form-control" data-bind="ko_autocompleteProduce: { source: $root.getProduce, select: $root.selectProduce }, value: ProduceDescription, css:{ 'required-field': $root.TicketModel().showGuidFieldRequired(ConsignmentItemID), 'required-field-error': showError(ConsignmentItemID) }, hasFocus: FocusProduce, event: { focusout: function() { $root.onConsignmentItemFocusOut($index()) } }, " id="ConsignmentItemID" />

                                                    <!-- /ko -->
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="text" placeholder="Quantity" class="form-control" data-bind="value: TicketItemQuantity.formatted, css:{ 'required-field': $root.TicketModel().showGuidFieldRequired(TicketItemQuantity), 'required-field-error': showError(TicketItemQuantity) }, event: { focusout: function() { $root.onQuantityFocusOut($index()) } }" id="Quantity" />
                                            </div>
                                            <div class="col-md-1">
                                                <input type="text" placeholder="U Cost" class="form-control" data-bind="value : TicketItemUnitPrice.formatted, css:{ 'required-field': $root.TicketModel().showGuidFieldRequired(TicketItemUnitPrice), 'required-field-error': showError(TicketItemUnitPrice) }, event: { focusout: function() { $root.onUnitPriceFocusOut($index()) } }" id="UnitTotal" />
                                            </div>
                                            <div class="col-md-1">
                                                <input type="text" placeholder="Porterage" disabled class="form-control" data-bind="value : TicketItemPorterageValue.formatted" id="Porterage" />
                                            </div>
                                            <div class="col-md-1">
                                                <input type="text" placeholder="Total" disabled class="form-control" data-bind="value : TicketItemTotalPrice.formatted" id="ItemTotal" />
                                            </div>
                                          
                                            <div class="col-md-1 pull-right">
                                                <label class="SBOversold" id="ItemNetaverage">4.50 </label>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /ko -->
                                    <li><div class="col-md-1">
                                            <button class="btn btn-danger btn-block" tabindex="-1" data-bind="click: function() { $root.removeTicketItem($index()) }">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-default btn-block" data-bind="click: function() { $root.addNewTicketItem() }">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                  
                                    </li>
                                </ul>
                            </div>

                            <div class="panel-body topborder" id="TicketTotal">
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-9">Subtotal:</div>
                                    <div class="col-md-2">
                                        <span class="pull-right" data-bind="text: TicketModel().TicketSubTotal.formatted"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-9">Porterage:</div>
                                    <div class="col-md-2">
                                        <span class="pull-right" data-bind="text: TicketModel().TicketTotalPorterage.formatted"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-9">VAT:</div>
                                    <div class="col-md-2">
                                        <span class="pull-right" data-bind="text: TicketModel().TicketVATTotal.formatted"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-9">Total:</div>
                                    <div class="col-md-2 TicketTotalText">
                                        <span class="pull-right" data-bind="text: TicketModel().TicketTotalPrice.formatted"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <button class="btn btn-default col-md-offset-10" type="submit" data-bind="click: function() { saveTicket($data, subscriberReplaceTab); }">
                                    Save Ticket
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    var ticketPanelName = '@(ViewBag.TicketPanel)';
    var ticketModel = new CreateTicketViewModel(@Html.Raw(data), ticketPanelName, lookupTables);
    ticketModel.pageLoadState();
    ko.applyBindings(ticketModel, document.getElementById(ticketPanelName));
</script>

