<script src="~/KJScripts/Helper.js"></script>
<script src="~/KJScripts/PagingTS.js"></script>
<link href="~/Content/css/bootstrap-glyphicons.css" rel="stylesheet" />
@model PrimeActs.Domain.ViewModels.TicketPagingModel
@using System.Web.Script.Serialization
@{string data = new JavaScriptSerializer().Serialize(Model);}
<script type="text/javascript">
    CustomerModel.initializeTicketPagingModel(@Html.Raw(data), subscriberTab);
</script>
@{
    var customerName = "";
}
<div class="container-fluid" data-bind="with: TicketPagingModel">

    <div class="panel-body">
        <!--
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class=" col-md-4" data-bind="validationOptions: { insertMessages: false}">
                <input type="text" class="form-control searchBox" placeholder="Reference" data-bind="value: TicketSearch().TicketReference, validationOptions: { insertMessages: false }, valueUpdate: 'afterkeydown', css:{'required-field': IsSearchValid}" autofocus />
            </div>
            <div class="col-md-2 btn-group">
                <div class="col-md-6">
                    <input type="button" class="btn btn-default btn-block" data-bind="click: function () {Search()}" value="Search" />
                </div>
                <div class="col-md-6">
                    <input type="button" class="btn btn-default btn-block" data-bind="click: function () {Reset() }" value="Reset" />
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        -->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 pull-left">
                @Html.BuildKnockoutNextPreviousLinks("Index", "/Ticket")
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class=" col-md-1">
                    </div>
                    <div class=" col-md-1">
                        <span class="panel-title">Sale Type</span>
                    </div>
                    <div class=" col-md-3">
                        @Html.BuildKnockoutSortableLinkNewStyle("Customer Department Name", "Index", "/Ticket", "CustomerDepartmentName")
                    </div>
                    <div class=" col-md-1">
                        <span class="panel-title">Ticket Reference</span>
                    </div>
                    <div class=" col-md-2">
                        @Html.BuildKnockoutSortableLinkNewStyle("Sales Person Name", "Index", "/Ticket", "SalesPersonName")
                    </div>
                    <div class=" col-md-1">
                        <span class="panel-title">Clerk</span>
                    </div>
                    <div class="col-md-1 pull-left">
                        @Html.BuildKnockoutSortableLinkNewStyle("Created At", "Index", "/Ticket", "CreatedDate", "date")
                    </div>
                    <div class=" col-md-1">
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="search-results" data-bind="foreach: Paging().entities">
                    <div class="container line">
                        <div class="row row-padding5">
                            <div class="col-md-1">
                                <a data-bind="click: function () { $parent.OpenTicketDetails(TicketID, TicketReference) }, attr: { 'href': '#' }">
                                    <img src="~/Content/images/ticket.png" />
                                </a>
                            </div>
                            <div class="col-md-1">
                                <span data-bind="text: IsCashSale==true ? 'Cash' : 'Credit'"></span>
                            </div>
                            <div class="col-md-3">
                                <a class="pull-right" data-bind="click: function () { $parent.OpenCustomerDetails(CustomerCompanyName) }, attr: { 'href': '#' }">
                                    <!-- CustomerCompanyName is exactly = CustomerCompanyName + " - " + CustomerDepartmentName -->
                                    <span data-bind="text: CustomerCompanyName"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a class="pull-right" data-bind="click: function () { $parent.OpenTicketDetails(TicketID, TicketReference) }, attr: { 'href': '#' }">
                                    <span data-bind="text: TicketReference"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span data-bind="text: SalesPersonName"></span>
                            </div>
                            <div class="col-md-1">
                                <span data-bind="text: CreatedUserName"></span>
                            </div>
                            <div class="col-md-1">
                                <span data-bind="FormattedDate: {date: CreatedDate, format: 'txtshort'}"></span>
                            </div>
                            <div class="col-md-1 pull-right">
                                <a class="pull-right marginLeft5" data-bind="click: function () { $parent.OpenTicketEdit(TicketID) }, attr: { 'href': '#' }">
                                    <img alt="Edit Ticket" src="/Content/images/IconEditOrange.png">
                                </a>
                                <a class="pull-right" data-bind="click: function () { $parent.OpenTicketDetails(TicketID, TicketReference) }, attr: { 'href': '#' }">
                                    <img alt="Ticket Details" src="~/Content/images/view-details-512.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            @Html.BuildKnockoutNextPreviousLinks("Index", "/Ticket")
        </div>
    </div>
</div>
